In [12]:
import numpy as np
mylist = list('abcdefghijklmnopqrstuvxwyz')
myarr = np.arange(26)
mydict = dict (zip (mylist, myarr))

In [3]:
import pandas as pd
df = pd.Series(mydict)

In [7]:
df = df.to_frame().reset_index()
df.head()

  index  0
0     a  0
1     b  1
2     c  2
3     d  3
4     e  4

In [14]:
df1 = pd.DataFrame({'col1':mylist, 'col2':myarr})
df1.head()

  col1  col2
0    a     0
1    b     1
2    c     2
3    d     3
4    e     4

In [5]:
ser = pd.Series(np.random.normal(10,5,25))

In [15]:
ser.name = 'alphabet'
ser.head()

0     9.094677
1    13.033268
2    14.725483
3    17.223792
4     4.512447
Name: alphabet, dtype: float64